.bar{
    display:block;
    background-color: rgb(182, 44, 44);
    min-height: 45px;
}
.page_content{
    display:block;
    background-color: rgb(255, 255, 255);
    min-height: 45px;
}
.wrapper{
    display: block;
    width: 1024px;
    margin: 0 auto; 
}